{% extends 'layout.html' %}

{% block content %}

<div class="main-page plot-page-pie-column">
    <form action="" method="POST">
        <div>
            <br>
            {{ column_form.hidden_tag() }}
            {{ column_form.number_of_rows.label }} {{ column_form.number_of_rows(placeholer=2) }}<br>
            {{ column_form.submit(class='submit-button') }}
        </div>
        <div>
            {% if column_form.number_of_rows.data is not none %}
                Plot title: <input type="text" name="title" placeholder="Insert title"><br>
                {% for i in range(column_form.number_of_rows.data) %}
                    Label name: <input type="text" name="l{{ i }}" placeholder="Insert name">
                    Value: <input type="number" name="v{{ i }}" placeholder="Value"><br>
                {% endfor %}
                {{ column_form.draw(class='submit-button') }}
            {% endif %}
        </div>
    </form>
    {% if image %}
        <img src="data:image/png;base64,{{ image }}"><br>
        <a href="data:image/png;base64,{{ image }}" download="column"><i class="fas fa-file fa-1g"></i></a>
    {% endif %}
    <a href="{{ url_for('home') }}"><i class="fas fa-undo-alt fa-1g"></i></a>
</div>

{% endblock %}
