{% extends 'base.html' %}

{% block content %}
  <form action='/chart' method="POST">
    <div>
      Podaj wartość początkową dla zakresu X: <input type="number" name="x1" value="1"><br>
      Podaj wartość końcową dla zakresu X: <input type="number" name="x2" value="50" ><br>
      Podaj wartość początkową dla zakresu Y: <input type="number" name="y1" value="1" ><br>
      Podaj wartość końcową dla zakresu Y: <input type="number" name="y2" value="50" ><br>
      Podaj wartość przez jaką chcesz spotęgować przez Y: <input type="number" name="Z" value="1"><br>

    </div>
    <div>
      <fieldset>
        <legend>Wybierz kolor krzywej</legend>
        <label>Czerwony
          <input type="radio" name="color" value="red">
        </label><br>
        <label>Zielony
          <input type="radio" name="color" value="green">
        </label><br>
        <label>Niebieski
          <input type="radio" name="color" value="blue">
        </label><br>
        <label>Czarny
          <input type="radio" name="color" value="black">
        </label><br>
        <input type="submit" value="Submit"><br>
      </fieldset>
    </div>
  </form>

  {% if image %}
    <img src="data:image/png;base64,{{ image }}">
  {% endif %}


{% endblock %}