{% extends 'layout.html' %}

{% block content %}

<div class="main-page plot-page">
    <form action="" method="POST">
        <div>
            <h1>Create your own square function:</h1><br><hr>
            {{ form.hidden_tag() }}
            {{ form.start_x.label }}{{ form.start_x( value=1) }}<br>
            {{ form.end_x.label }}{{ form.end_x( value=10) }}<br>
            {{ form.coeff_a.label }}{{ form.coeff_a( value=1) }}<br>
            {{ form.coeff_b.label }}{{ form.coeff_b( value=2) }}<br>
            {{ form.coeff_c.label }}{{ form.coeff_c( value=3) }}<br>
            {{ form.color.label }}{{ form.color (value='black') }}<br>
        </div>
        {{ form.submit(class='submit-button') }}
    </form><br>


    {% if image %}
        <img src="data:image/png;base64,{{ image }}"><br>
        <a href="data:image/png;base64,{{ image }}" download="line"><i class="fas fa-file fa-1g"></i></a>
    {% endif %}
    <a href="{{ url_for('home') }}"><i class="fas fa-undo-alt fa-1g"></i></a>
</div>

{% endblock %}