{% extends 'layout.html' %}

{% block content %}
<div class="main-page plot-page-pie-column">
    <form action="" method="POST">
        <div>
            <br>
            {{ pie_form.hidden_tag() }}
            {{ pie_form.number_of_rows.label }} {{ pie_form.number_of_rows(placeholer=2) }}<br>
            {{ pie_form.submit(class='submit-button') }}
        </div>
        <div>
            {% if pie_form.number_of_rows.data is not none %}
                Plot title: <input type="text" name="title" placeholder="Insert title"><br>
                {% for i in range(pie_form.number_of_rows.data) %}
                    Group name: <input type="text" name="g{{ i }}" placeholder="Insert name">
                    Value: <input type="number" name="v{{ i }}" placeholder="%"><br>
                {% endfor %}
                {{ pie_form.draw(class='submit-button') }}
            {% endif %}
        </div>
    </form>
    {% if message %}
        {{ message }}
    {% endif %}

    {% if image %}
        <img src="data:image/png;base64,{{ image }}"><br>
        <a href="data:image/png;base64,{{ image }}" download="pie"><i class="fas fa-file fa-1g"></i></a>
    {% endif %}
    <a href="{{ url_for('home') }}"><i class="fas fa-undo-alt fa-1g"></i></a>
</div>

{% endblock %}
