{% extends 'base.html' %}

{% block content %}

  <form action='/pie' method="POST">
    <div>
      Podaj nazwę pierwszej grupy: <input type="text" name="g1" value="a"><br>
      Podaj nazwę drugiej grupy: <input type="text" name="g2" value="b" ><br>
      Podaj nazwę trzeciej grupy: <input type="text" name="g3" value="c" ><br>
      Podaj nazwę czwartej grupy: <input type="text" name="g4" value="d" ><br>
      Podaj wartość procentową dla pierwszej grupy: <input type="number" name="v1" value="1"><br>
      Podaj wartość procentową dla drugiej grupy: <input type="number" name="v2" value="2"><br>
      Podaj wartość procentową dla trzeciej grupy: <input type="number" name="v3" value="3"><br>
      Podaj wartość procentową dla czwartej grupy: <input type="number" name="v4" value="4"><br>
    </div>
    <div>
      <input type="submit" value="Submit"><br>
    </div>
  </form>

  {% if image %}
    <img src="data:image/png;base64,{{ image }}">
  {% endif %}


{% endblock %}